In [1]:
import pandas as pd
import numpy as np

In [5]:
pd.__version__

'2.3.2'

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [3]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

# Q2. Records count
How many records are in the dataset?

In [15]:
df.shape
print("Records in the dataset are:", df.shape[0])

Records in the dataset are: 9704

# Q3. Fuel types
How many fuel types are presented in the dataset?

In [13]:
print("Number of fuel types in the dataset : ", df['fuel_type'].nunique())

Number of fuel types in the dataset :  2

# Q4. Missing values
How many columns in the dataset have missing values?

In [11]:
missing_per_col = df.isna().sum()
cols_with_na = missing_per_col[missing_per_col > 0]

print("Number of columns with missing values:", cols_with_na.shape[0])

Number of columns with missing values: 4

# Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [16]:
print("Records in the dataset are:", df.loc[df['origin'] == 'Asia', 'fuel_efficiency_mpg'].max())

Records in the dataset are: 23.759122836520497

# Q6. Median value of horsepower

Find the median value of horsepower column in the dataset.
Next, calculate the most frequent value of the same horsepower column.
Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
Now, calculate the median value of horsepower once again.

# Has it changed?

In [18]:
median_1 = df['horsepower'].median()
mode = df['horsepower'].mode()
df['horsepower'] = df['horsepower'].fillna(mode)
median_2 = df['horsepower'].median()
print("Change in Median :", median_1 - median_2)

Change in Median : 0.0

# Q7. Sum of weights
Select all the cars from Asia
Select only columns vehicle_weight and model_year
Select the first 7 values
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

# What's the sum of all the elements of the result?

In [20]:
X = df.loc[df['origin'] == 'Asia', ['vehicle_weight', 'model_year']].head(7).to_numpy()
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = XTX_inv @ X.T @ y
w.sum()

np.float64(0.5187709081074016)